.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.btns-div{
    max-width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.btn-clicked {
    background-color: #dd0000;
    color: #000;
}

