@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scrolling-text {
    display: inline-block;
    animation: scroll-left 8s linear infinite;
  }